

<body>
  <div class="card shadow p-3 mb-5 bg-white rounded">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <div class="navbar-nav">
          <ul class="nav nav-pills mr-auto my-1 mb-2" id="MyTab" role="tablist">
            <li><a [hidden]="true" type="button" id="onEmpty" data-toggle="tab" data-target="#empty"  ></a></li>
            <li><a [hidden]="true" type="button" id="on" data-toggle="tab"  ></a></li>
            <li><a [hidden]="true" id="onJudgments" data-toggle="tab" href="#judgments"></a></li>
            <li class="nav-item"><a class="btn btn-outline-dark ml-2" [routerLink]="['/home']" >  Меню </a></li>
            <li class="nav-item"><a class="btn btn-outline-dark ml-2"  data-toggle="tab" *ngFor="let game of this.currentGames" (click)="selectGame(game)"  href="#{{game.name}}">{{game.name}}</a></li>
            <li class="nav-item"><a class="btn btn-outline-dark ml-2" data-toggle="modal"  data-target="#addNewNameForGame"><i class="fa fa-plus" ></i>  Добавить игру </a></li>
          </ul>
        </div>
      </div>
    </nav>
    <hr>

    <button [hidden]="true" type="button" id="openAddJudgment" data-toggle="modal" data-target="#addJudgment">
    </button>

    <button [hidden]="true" type="button" id="openEditJudgment" data-toggle="modal" data-target="#editJudgment">
    </button>

    <button [hidden]="true" type="button" id="deleteGameModal" data-toggle="modal" data-target="#deleteGame">
    </button>



    <!---------общий контейнер------->
    <div class="container">
      <div class="tab-content mt-3" >
<!--------------------------------------->
        <div  class="container tab-pane fade" id="empty" >

        </div>


           <!--------------редактор суждений-->
        <div  class="container tab-pane fade" id="judgments" >
          <div class="row">
<!--            <ul class="nav nav-pills mr-auto my-1 mb-2">-->
<!--             <li> <a class="btn btn-outline-dark ml-2" role="tabpanel" data-toggle="tab"  href="#{{this.currentGame.name}}"> назад</a></li>-->
<!--            </ul>-->
            <div class="p-1  mx-auto col-2" >
              <img class="card-img-top img-fluid   shadow" style="max-width: 100px; max-height: 150px" src="{{this.getPicture(this.step.deckId)}}" alt="">
            </div>
            <div class="text-sm-right col-7">
              <h3 class="text-left mb-3">Выбрана игра:  {{this?.currentGame.name}}</h3>
              <h4 class="text-left">Выбран шаг игры: {{this.step.title}} - символ: {{this.step.name}}</h4>
              <button class="btn btn-outline-dark ml-2" (click)="onAddJudgment()">Add</button>
            </div>
         </div>
          <hr>
          <table class="table table-hover">
            <thead class="table-borderless">
              <tr class="text-center">
                <th>номер</th>
                <th>послание</th>
                <th>управление</th>
              </tr>
            </thead>
            <tbody *ngFor="let judgment of judgments; let i=index ">
              <tr >
                <td class="text-center" >{{i+1}}</td>
                <td >{{judgment.judgment}}</td>
                <td class="text-right">
                  <div class="btn-group">
                    <button class="btn btn-outline-dark" (click)="editJudgment(judgment.id)"><i class="fas fa-edit"></i></button>
                    <button class="btn btn-outline-dark" (click)="deleteJudgment(judgment.id)"><i class="fas fa-trash"></i></button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>


        </div>
           <!-------------------- -->

        <!----------игра--выбранная------->
        <div  class="container tab-pane fade" id="{{this?.currentGame.name}}" >
          <h3 class="text-center mb-lg-4">игра {{this?.currentGame.name}}</h3>
            <div class="row">
              <div class="card-group mx-auto mb-4 " style="width: 200px;"     *ngFor=" let stepShow of this?.currentGame.steps">
                <form #formAddStep="ngForm" (ngSubmit)="onSaveStep(formAddStep)">
                <div class="card">
                  <div class="card-header bg-transparent text-center mb-2"><h3></h3>{{stepShow.name}}

                      <div class="form-group">
                      <div class="input-group input-group-sm text-center">
                        <input type="text" class="form-control" ngModel="{{stepShow?.title}}"  placeholder="название шага"  name="nameStep" required/>
                      </div>
                    </div>
                    </div>

                    <div class="p-1  justify-content-center align-items-center shadow mx-auto" >
                      <img class="card-img-top img-fluid   shadow" style="width: 100px; height: 150px" src="{{this.getPicture(stepShow.deckId)}}" alt="">
                    </div>
                    <div class="card-body">

                    <div class="form-group  mb-3 ">
                      <lable>Выбранная колода:</lable>
                      <select class="form-control form-control-sm" id="inputGroupSelect01" name="nameDeck" ngModel>
                        <option value="" disabled>{{this.nameDeck}}</option>
                        <option [defaultSelected]="" *ngFor="let nameDeck of this.nameOfDecks" [ngValue]="nameDeck">{{this.nameDeck}}</option>
                      </select>
                    </div>

                  </div>
                  <div class="card-footer p-2 text-center">
                    <div class="navbar-nav">
                      <ul class="nav nav-pills mr-auto my-1 mb-2" >
                        <li class="nav-item"><a *ngIf="stepShow.name !== 'Resource' " class="btn btn-outline-dark btn-sm" (click)="goToAddJudgments(stepShow)">суждения</a></li>
                        <li  class="nav-item"><button  type="submit" class="btn btn-outline-dark btn-sm float-right" (click)="saveStep(stepShow)" [disabled]="formAddStep.invalid ">сохранить</button></li>
                      </ul>
                    </div>

                  </div>
                </div>
                </form>
              </div>
            </div>
            <hr>
          <button type="button" class="btn btn-outline-dark" aria-label="delete"  (click)="onDeleteGame()">удалить игру</button>
        </div>



<!--------------------------------------->
      </div>
    </div>
<!--    контейнер общий-->
  </div>




<!--модальное окно добавления игры (названия)-->
<div class="modal draggable fade bd-examole-modal-lg" id="addNewNameForGame" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Имя игре</h5>
          </div>
            <form #nameClean  #newName="ngForm" (ngSubmit)="onAddNameForGame(newName)">
            <div class="modal-body">
              <div class="form-group">
                <label for="name">Введите название игры</label>
                  <input type="text" name="name" id="name" required ngModel class="form-control" placeholder="Например: SWAT">
                  </div>
                  <button type="submit"  class="btn btn-outline-dark" [disabled]="newName.invalid" >Save</button>
                </div>
              <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" aria-hidden="true" id="close-add-name" data-dismiss="modal" (click)="cleanFormIfCancel(newName)">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!------------------------------------>


<!--модальное окно добавлениия выражений-->
  <div class="modal draggable fade bd-examole-modal-lg"  data-keyboard="false" data-backdrop="static" id="addJudgment" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Введите новое суждение</h5>
          </div>
          <form #addJudgment  #newJudgment="ngForm" (ngSubmit)="onAddNewJudgment(newJudgment)">

            <div class="modal-body">
              <div class="form-group">
                <textarea class="form-control rounded-0" id="judgment" name="judgment" rows="3" placeholder="Ваш текст..." required ngModel></textarea>
              </div>
              <button type="submit"  class="btn btn-outline-dark" [disabled]="newJudgment.invalid">Save</button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-dark" aria-hidden="true" id="close-add-judgment" data-dismiss="modal"  (click)="cleanFormIfCancel(newJudgment)">Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
<!---------------------------------------->
<!-------------редактор суждения---------->
  <div class="modal draggable fade bd-examole-modal-lg"  data-keyboard="false" data-backdrop="static" id="editJudgment" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Введите новое суждение</h5>
          </div>
          <form   #formEditJudgment="ngForm" (ngSubmit)="onEditJudgment(formEditJudgment)">

            <div class="modal-body">
              <div class="form-group">
                <textarea class="form-control rounded-0" id="newJudgment" name="newJudgment" rows="3"  required ngModel="{{this.judgment.judgment}}"></textarea>
              </div>
              <button type="submit"  class="btn btn-outline-dark" [disabled]="formEditJudgment.invalid">Save</button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-dark" aria-hidden="true" id="close-edit-judgment" data-dismiss="modal"  (click)="cleanFormIfCancel(formEditJudgment)">Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!---------------------------------------->

  <!------удалене игры модальное окно-------->
  <div class="modal draggable fade bd-examole-modal-lg"  data-keyboard="false" data-backdrop="static" id="deleteGame" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Удаление игры {{this.currentGame.name}}</h5>
          </div>

            <div class="modal-body">
              <label>Вы уверены, что хотите удалить игру?</label>
              <button type="submit"  class="btn btn-outline-dark col-lg" (click)="deleteGame(this.currentGame.id)">Удалить</button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-dark" aria-hidden="true" id="close-delete-game" data-dismiss="modal"  >Close</button>
            </div>
        </div>
      </div>
    </div>
  </div>
  <!---------------------------------------->
</body>
