
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<body>
<header class="fixed-top" id="start">
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #7f234f" >
    <div class="container-lg" >
      <a [routerLink]="['/main']" class="navbar-brand" >Game 4 coach</a>
        <button class="navbar-toggler" type="button"  style="background-color:  #fff7e3;"  data-toggle="collapse" data-target="#navContent"
                aria-controls="navContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon" ></span>
        </button>
      <div class="collapse navbar-collapse" id="navContent">
        <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
          <li class="nav-item"><a href="#start" class="nav-link">Начало</a></li>
          <li class="nav-item"><a href="" class="nav-link">Коучинг</a></li>
          <li class="nav-item"><a href="#about" class="nav-link">Обо мне</a></li>
        </ul>

        <div *ngIf="presence" class="mx-1" style="color:#fff7e3; " >
          Привет, {{ currentUser?.firstName}}
        </div>
        <div class="d-block">
          <button *ngIf="!presence"  class="btn btn-outline-dark " data-target="#logIn"  [routerLink]="['/main', 'login']"  data-toggle="modal">Вход</button>
          <button *ngIf="presence" class="btn btn-outline-dark ml-2" (click)="onLogOut()">Выход<i class="fas fa-sign-in-alt ml-1"></i></button>
          <button *ngIf="isAdmin" name="management" class="btn btn-outline-dark ml-2" [routerLink]="['/management']">Admin</button>
          <button *ngIf="presence" class="btn btn-outline-dark ml-2" (click)="goToHome()">Меню</button>
        </div>
      </div>
    </div>
  </nav>
</header>
 <app-login (onAdd)="updatePresence($event)"></app-login>
  <router-outlet></router-outlet>


<section class="d-flex justify-content-center" id="hero" >
    <div class="container">
      <div class="row text-center mx-3 col-lg-12  justify-content-center">
        <div class= "col-lg-8 animate__animated  animate__fadeInDown">
          <h1>Коучинг, как стиль жизни!</h1>
          <hr >
          <h2 class="d-sm-block d-none" >Трансформационные игры, коучинг, сопровождение к цели.</h2>
        </div>
      </div>

      <div class="row col-lg-1 move-right justify-content-center ">
          <div class="icon-box mx-3 animate__animated animate__lightSpeedInRight">
            <a href="https://www.facebook.com/profile.php?id=100011036289953" target="_blank" class="social-icon-lg si-dark si-facebook">
              <i class="fa fa-facebook"></i>
              <i class="fa fa-facebook"></i>
            </a>
          </div>

          <div class="icon-box mx-3 animate__animated animate__lightSpeedInRight">
            <a href="https://www.youtube.com/channel/UCU7i3OD8rUxmtseCTZoQKIg" target="_blank" class="social-icon-lg si-dark si-g-plus">
              <i class="fa fa-youtube"></i>
              <i class="fa fa-youtube"></i>
            </a>
          </div>

          <div class="icon-box mx-3 animate__animated animate__lightSpeedInRight ">
            <a href="https://instagram.com/olga_dream_coach?igshid=1rr4r71vk11y7" target="_blank" class="social-icon-lg si-dark si-instagram" >
              <i class="fa fa-instagram"></i>
              <i class="fa fa-instagram"></i>
            </a>
          </div>

          <div class="icon-box mx-3 animate__animated animate__lightSpeedInRight">
            <a href="https://join.skype.com/invite/lZtyDpvTR8U7" class="social-icon-lg si-dark si-skype" target="_blank">
              <i class="fa fa-skype"></i>
              <i class="fa fa-skype"></i>
            </a>
        </div>

      </div>
    </div>
</section>


<section class="about my-5" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 order-1 order-lg-2">
          <img class="img-fluid" src="https://gifulmen.blob.core.windows.net/card/olga-2000.jp2">
        <ul>
          <p class="title_ul">  Коучинг тебе поможет: </p>
          <li><i class="fas fa-check"style="color: #7f234f"></i> осознать и поставить четкую цель</li>
          <li><i class="fas fa-check"style="color: #7f234f"></i> открыть свои сильные стороны</li>
          <li><i class="fas fa-check"style="color: #7f234f"></i> найти ресурсы для реализации задуманного</li>
          <li><i class="fas fa-check"style="color: #7f234f"></i> получить мотивацию к действиям</li>
          <li><i class="fas fa-check"style="color: #7f234f"></i> прописать конкретный план действий</li>
          <li><i class="fas fa-check"style="color: #7f234f"></i> получить навык эффективного мышления</li>
          <li><i class="fas fa-check"style="color: #7f234f"></i> получить истинную поддержку</li>
          <li><i class="fas fa-check"style="color: #7f234f"></i> выработать уважение к своим желаниям, мечтам и потребностям</li>
        </ul>
      </div>
        <div class="col-lg-6 pt-5 pt-lg-0 order-lg-1 content">
          <h3>Коучинг, для меня - это не просто профессия, для меня – это стиль жизни! Чем же полезен будет для тебя коучинг? </h3>

          <p class="font-italic mt-3">
            Приветствую тебя! Благодарю за твое внимание! Позволь представиться: меня зовут Ольга, мне 37 лет, кстати на каждом Дне Рождения я забываю свой возраст, не потому, что не хочу его помнить, я просто его не чувствую.
            Я бывшая спортсменка, львиную часть своего профессионального опыта получила в продажах, сейчас я – коуч, ведущая трансформационных игр, начинающий психотерапевт и YouTube блогер.

          </p>
          <ul class="dont_see">
            <p class="title_ul">  Если ты :</p>
            <li><i class="fas fa-check"style="color: #7f234f"></i> мечтаешь и не знаешь как воплотить задуманное в жизнь</li>
            <li><i class="fas fa-check"style="color: #7f234f"></i> тебя одолевают сомнения, страхи, неуверенность</li>
            <li><i class="fas fa-check"style="color: #7f234f"></i> не знаешь куда двигаться дальше</li>
            <li><i class="fas fa-check"style="color: #7f234f"></i> не умеешь управлять эмоциями</li>
            <li><i class="fas fa-check"style="color: #7f234f"></i> не получается строить отношения</li>
            <li><i class="fas fa-check"style="color: #7f234f"></i> не видишь свои сильные стороны</li>
            <li><i class="fas fa-check"style="color: #7f234f"></i> не знаешь свои ценности</li>
            <li><i class="fas fa-check"style="color: #7f234f"></i> не видишь перспектив</li>
            <li><i class="fas fa-check"style="color: #7f234f"></i> не получается управлять временем</li>
            <li><i class="fas fa-check"style="color: #7f234f"></i> силы на нуле</li>
            <li><i class="fas fa-check"style="color: #7f234f"></i> нет селости сделать первый шаг</li>
          </ul>

        </div>
    </div>
  </div>

</section>

<section class="cta d-sm-block d-none">
  <div class="container">
  </div>
</section>


  <div class="carousel slide mt-3 mb-3" data-ride="carousel" id="myCarousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <div class="container carousel-inner">
      <div class="carousel-item active">
        <div class="row justify-content-center ">
          <div class="col-md-3 ">
            <a href="https://gifulmen.blob.core.windows.net/card/sert1-2000.jp2" target="_blank">
              <img  class="w-100" src="https://gifulmen.blob.core.windows.net/card/sert1.jpg" alt="First slide">
            </a>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="row justify-content-center">
          <div class="col-md-3  ">
            <a href="https://gifulmen.blob.core.windows.net/card/sert2-2000.jp2" target="_blank">
              <img  class="w-100" src="https://gifulmen.blob.core.windows.net/card/sert2.jpg" alt="Second slide">
            </a>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="row justify-content-center">
          <div class="col-md-3  ">
            <a href="https://gifulmen.blob.core.windows.net/card/sert3-2000.jp2" target="_blank">
              <img  class="w-100 p-1" src="https://gifulmen.blob.core.windows.net/card/sert3.jpg" alt="Third slide">
            </a>
          </div>
        </div>
      </div>

    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>

  </div>

</body>
<footer class="footer ">
  <div class="container text-center" >
    <a target="_blank" style="color: black" href="http://linkedin.com/in/serhii-dernovyi-80a1a319b">© 2021 Dernovyi Serhii</a>
  </div>
</footer>



