.navbar-brand{
  font-family:'Roboto';
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(163,163,163, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
a.nav-link.ml-3{
  cursor: pointer;
  color: #fff7e3;
  border-color: #fff7e3;
  background-color: #7f234f !important;
}
a.nav-link.ml-3.active{
  color: black;
}
a.nav-link.ml-3:hover{
  color: black;
}

.btn.btn-outline-dark{
  color: #fff7e3;
  border-color: #fff7e3;
  background-color: #7f234f !important;
}
.btn.btn-outline-dark:hover{
  color: black;
}


a:hover {
  text-decoration: none;
}


#hero{
  width: 100%;
  height: 80vh;
  background: center fixed url("https://gifulmen.blob.core.windows.net/card/lavanda_.jpg");
  background-size: cover;
  position: relative;
  padding-top: 75px;
}

#hero.container{
  position: relative;
  padding-top: 45px;
}
#hero h1{
  margin: 0;
  font-size: 56px;
  font-weight: 700;
  line-height: 64px;
  font-family: "Poppins";
}

.about ul li{
  list-style-type: none;
}

.cta {
  background: center fixed no-repeat url("https://gifulmen.blob.core.windows.net/card/lavanda_.jpg") ;
  padding: 120px;
  color: white;
}
.footer{
  height: 30px;
}
.dont_see{
  margin-top: 70px;
}
.title_ul{
 font-weight: bold;
}




/****************

SOCIAL BUTTONS

**********************/
/**social icons default size**/
.social-icon {
  margin: 0 5px 5px 0;
  width: 40px;
  height: 40px;
  font-size: 20px;
  line-height: 40px !important;
  color: #555;
  text-shadow: none;
  border-radius: 3px;
  overflow: hidden;
  display: block;
  float: left;
  text-align: center;
  border: 1px solid #AAA;
}
.social-icon:hover {
  border-color: transparent;
}

.social-icon:hover i:first-child {
  margin-top: -40px;
}

/***social icons lg (big)***/
.social-icon-lg {
  margin: 0 5px 5px 0;
  width: 60px;
  height: 60px;
  font-size: 30px;
  line-height: 60px !important;
  color: #555;
  text-shadow: none;
  border-radius: 3px;
  overflow: hidden;
  display: block;
  float: left;
  text-align: center;
  border: 1px solid #AAA;
}
.social-icon-lg:hover {
  border-color: transparent;
}

.social-icon-lg i {
  display: block;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  line-height: 60px;
  position: relative;
}
.social-icon-lg i:last-child {
  color: #FFF !important;
}

.social-icon-lg:hover i:first-child {
  margin-top: -60px;
}


.si-dark {
  background-color: #333;
  border: 0px !important;
  color: #fff !important;
}

/**icons hover colored**/
.si-colored-facebook, .si-facebook:hover {
  background-color: #3B5998 !important;
}
.si-colored-instagram, .si-instagram:hover {
  background:center no-repeat  url("https://gifulmen.blob.core.windows.net/card/instagram_back.jpg");
  /*background-color: #ff0000 !important;*/
}
.si-colored-twitter, .si-twitter:hover {
  background-color: #00ACEE !important;
}

.si-colored-google-plus, .si-g-plus:hover {
  background-color: #ea402e !important;
}

.si-colored-skype, .si-skype:hover {
  background-color: #00AFF0 !important;
}

