/* You can add global styles to this file, and also import other style files */

/*@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/bootstrap.min.css';*/
@import "~bootstrap/dist/css/bootstrap.min.css";
@import 'https://use.fontawesome.com/releases/v5.8.1/css/all.css';
@import "~angular-notifier/styles";

td{
  cursor: pointer;
}
.move-left{
  position: absolute;
  right: 0;
}

.move-right{
  position: absolute;
  right: 0;
}
.btn-file{
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file]{
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: white;
  cursor: inherit;
  display: block;

}


